main {
  position: relative;
}

/*
 *
 * NAVIGATION
 *
 */
.navbar {
  padding: 0;
  background-color: #fff !important;
  flex-direction: row;
  padding-left: 25px;
}

.nav a {
	display: flex;
	margin: 0;
	padding: 16px 8px;
	text-decoration: none;
	color: #333;
}

.nav a:hover,
.nav a:focus {
	text-decoration: underline;
	color: #333;
}

.nav a.active {
  font-weight: bold;
  background-color: #ff8785;
  color: #fff;
}