main {
  position: relative;
}

/*
 *
 * NAVIGATION
 *
 */
 .navbar {
  padding: 0;
  background-color: #fff !important;
}

.navbar-nav {
  flex-direction: row;
  padding-left: 25px;
}

nav li {
	display: flex;
	margin: 0;
	padding: 16px 8px;
}

nav .active {
  font-weight: bold;
  background-color: #ff8785;
}

nav a {
	text-decoration: none;
	color: #333;
}

nav a:hover,
nav a:focus {
	text-decoration: underline;
	color: #333;
}

nav .active a {
  color: #fff;
}