body {
	font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}

.content {
	position: relative;
  background-color: #00787a;
  min-height: calc(100% - 56px);
}

.container,
.page {
	padding: 0 25px 50px;
}

h1 {
  font-size: 64px;
  font-family: 'Poiret One', sans-serif;
  color: #fff;
  text-align: center;
}

h2 {
	font-family: 'Sacramento', cursive;
  font-size: 40px;
}

h3 {
  font-size: 28px;
  font-family: 'Poiret One', sans-serif;
}

a {
	color: #333;
	text-decoration: underline;
}

.click a {
	font-style: italic;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 72px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
		margin: 0 auto;
		width: 70%;
		max-width: 960px;
	}

  .page {
    margin: 0 auto;
    padding: 0 0 50px;
		width: 80%;
		max-width: 960px;
  }

  h1 {
    font-size: 96px;
  }

  h2 {
    font-size: 48px;
  }

	h3 {
		font-size: 28px;
	}
}