body {
	font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}

.content {
	position: relative;
  background-color: #00787a;
  min-height: calc(100% - 56px);
}

.container,
.page {
	padding: 0 25px 50px;
}

h1 {
  font-size: 64px;
  font-family: 'Poiret One', sans-serif;
  color: #fff;
  text-align: center;
}

h2 {
	font-family: 'Sacramento', cursive;
  font-size: 40px;
}

h3 {
  font-size: 28px;
  font-family: 'Poiret One', sans-serif;
}

a {
	color: #333;
	text-decoration: underline;
}

.click a {
	font-style: italic;
}